.calc-bottom-keypad
{
    width: 300px;
    height: 300px;
    padding: 16px;
    border-radius: 0 0 20px 20px;
    background-color: rgb(28, 28, 53);
}

.key-grid-left
{
    width: 70%;
    float: left;
    text-align: left;
}

.key-grid-right
{
    width: 30%;
    float: right;
}

.key-btn
{
    margin: 12px;
    font-size: 36px;
    background: none;
    border: 0;
    border-radius: 5px;
    padding: 4px 10px;
    color: rgb(194, 194, 194);
}

.key-btn-util
{
    margin: 8px 0;
    font-size: 30px;
    background: none;
    border: 0;
    border-radius: 5px;
    padding: 3px 10px;
    color: rgb(194, 194, 194);
}

.key-btn:hover, .key-btn-util:hover
{
    background-color: rgba(255, 255, 255, 0.06);
}
